<?xml version="1.0" encoding="UTF-8" ?>
<configuration>　
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">　　
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>　　　
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">　　　　
        <file>mysql2es.log</file>
        <append>true</append>
        <encoder>　
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>　　　　　
        </encoder>
    </appender>
    <appender name="FILEERROR" class="ch.qos.logback.core.FileAppender">　　　　
        <file>error.log</file>
        <append>true</append>
        <encoder>　
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>　　　　　
        </encoder>
    </appender>
    <root level="INFO">　　
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="ERROR">
        <appender-ref ref="FILEERROR"/>
    </root>
</configuration>